# Contents
1. Import Libraries and Data Set 
2. Data Checks 
3. Rename Column

# Import Libraries & Data Set

In [35]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [36]:
# Create path 
path = r'/Users/ATeam/Desktop/CF/Achievement 6 - Applied analytics/Air Pollution'

In [37]:
# Import data set 
df_air_pollution = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'air_pollution.csv'))

# Data Checks

In [38]:
# Check number of rows and columns 
df_air_pollution.shape

(6468, 7)

In [39]:
# Check the first 
df_air_pollution.head()

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922

In [40]:
# Check data frame value counts
df_air_pollution.value_counts

<bound method DataFrame.value_counts of            Entity Code  Year  Air pollution (total) (deaths per 100,000)  \
0     Afghanistan  AFG  1990                                  299.477309
1     Afghanistan  AFG  1991                                  291.277967
2     Afghanistan  AFG  1992                                  278.963056
3     Afghanistan  AFG  1993                                  278.790815
4     Afghanistan  AFG  1994                                  287.162923
...           ...  ...   ...                                         ...
6463     Zimbabwe  ZWE  2013                                  143.850145
6464     Zimbabwe  ZWE  2014                                  138.200536
6465     Zimbabwe  ZWE  2015                                  132.752553
6466     Zimbabwe  ZWE  2016                                  128.692138
6467     Zimbabwe  ZWE  2017                                  125.028843

      Indoor air pollution (deaths per 100,000)  \
0                                    250.362910
1                                    242.575125
2                                    232.043878
3                                    231.648134
4                                    238.837177
...                                         ...
6463                                 113.456097
6464                                 108.703566
6465                                 104.340506
6466                                 100.392287
6467                                  96.235996

      Outdoor particulate matter (deaths per 100,000)  \
0                                           46.446589
1                                           46.033841
2                                           44.243766
3                                           44.440148
4                                           45.594328
...                                               ...
6463                                        27.589603
6464                                        26.760618
6465                                        25.715415
6466                                        25.643570
6467                                        26.166182

      Outdoor ozone pollution (deaths per 100,000)
0                                         5.616442
1                                         5.603960
2                                         5.611822
3                                         5.655266
4                                         5.718922
...                                            ...
6463                                      4.426291
6464                                      4.296971
6465                                      4.200907
6466                                      4.117173
6467                                      4.052495

[6468 rows x 7 columns]>

In [41]:
# Check for missing values
df_air_pollution.isnull()

,Entity,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
6463,False,False,False,False,False,False,False
6464,False,False,False,False,False,False,False
6465,False,False,False,False,False,False,False
6466,False,False,False,False,False,False,False
6467,False,False,False,False,False,False,False

In [42]:
#Check the value counts of the Entity column 
df_air_pollution.value_counts('Entity')

Entity
Afghanistan                     28
Niger                           28
North Africa and Middle East    28
North America                   28
North Korea                     28
                                ..
Grenada                         28
Guam                            28
Guatemala                       28
Guinea                          28
Zimbabwe                        28
Name: count, Length: 231, dtype: int64

In [43]:
# Check descriptive statistics of data set 
df_air_pollution.describe()

,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
count,6468.000000,6468.000000,6468.000000,6468.000000,6468.000000
mean,2003.500000,87.804083,50.481504,35.114982,3.370793
std,8.078372,57.845436,58.722565,18.207369,4.325445
min,1990.000000,8.401696,0.003859,7.542899,0.000000
25%,1996.750000,41.016114,2.002779,21.955108,1.302905
50%,2003.500000,72.653557,23.737851,30.977196,2.338684
75%,2010.250000,127.607177,90.138777,44.604181,3.515409
max,2017.000000,318.463253,293.509187,132.815726,37.356034

# Rename Column

In [44]:
# Rename the Entity column 
df_air_pollution.rename(columns={'Entity': 'Country'})

,Country,Code,Year,"Air pollution (total) (deaths per 100,000)","Indoor air pollution (deaths per 100,000)","Outdoor particulate matter (deaths per 100,000)","Outdoor ozone pollution (deaths per 100,000)"
0,Afghanistan,AFG,1990,299.477309,250.362910,46.446589,5.616442
1,Afghanistan,AFG,1991,291.277967,242.575125,46.033841,5.603960
2,Afghanistan,AFG,1992,278.963056,232.043878,44.243766,5.611822
3,Afghanistan,AFG,1993,278.790815,231.648134,44.440148,5.655266
4,Afghanistan,AFG,1994,287.162923,238.837177,45.594328,5.718922
...,...,...,...,...,...,...,...
6463,Zimbabwe,ZWE,2013,143.850145,113.456097,27.589603,4.426291
6464,Zimbabwe,ZWE,2014,138.200536,108.703566,26.760618,4.296971
6465,Zimbabwe,ZWE,2015,132.752553,104.340506,25.715415,4.200907
6466,Zimbabwe,ZWE,2016,128.692138,100.392287,25.643570,4.117173
6467,Zimbabwe,ZWE,2017,125.028843,96.235996,26.166182,4.052495

In [47]:
# Export Data Frame
df_air_pollution.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'air_pollution_clean.csv'))